# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers.
ans = (3*4)+5
print(ans)

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60.
mins = 200
hours = mins / 60
print("%.2f " %hours)

3.33

**Objectives:**
- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Introduce key Data Science tools

## Author
Aryan Anuj